In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [24]:
url="police.csv"
police = pd.read_csv(url)
police.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

## Q1) Remove the column that only contains missing values

In [6]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [7]:
police.shape #country name only have null values

(91741, 15)

In [7]:
police.drop(columns=["county_name"],inplace=True)

In [8]:
police.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_age_raw',
       'driver_age', 'driver_race', 'violation_raw', 'violation',
       'search_conducted', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration', 'drugs_related_stop'],
      dtype='object')

## Q2) Do men or women speed more often?

In [9]:
police[(police.driver_gender=="M") & (police.violation=="Speeding")].value_counts().sum()

821

In [10]:
police[(police.driver_gender=="F") & (police.violation=="Speeding")].value_counts().sum()

135

In [12]:
police.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

## Q3) Does gender affect who gets searched during a stop?

In [44]:
police.search_type.value_counts()

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Probable Cause,Protective Frisk                               33
Incident to Arrest,Protective Frisk                           33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Incident to Arrest,Inventory,Protective Frisk                 11
Inventory,Protective Frisk                                    11
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Reasonable Suspicion                                 4
Inventory,Probable Cause,Reasonable Suspicion                  2
Inventory,Probable Cause,Protective Frisk                      2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Name: search_type, dtype: int64

In [13]:
#ans
police.groupby(['violation', 'driver_gender']).search_conducted.value_counts()

violation            driver_gender  search_conducted
Equipment            F              False                2381
                                    True                  106
                     M              False                7935
                                    True                  598
Moving violation     F              False                3088
                                    True                  116
                     M              False               12241
                                    True                  779
Other                F              False                 651
                                    True                   39
                     M              False                3456
                                    True                  171
Registration/plates  F              False                 946
                                    True                   67
                     M              False                2152
                                    True                  267
Seat belt            F              False                 627
                                    True                    8
                     M              False                2229
                                    True                   88
Speeding             F              False               15347
                                    True                  135
                     M              False               32157
                                    True                  822
Name: search_conducted, dtype: int64

## Q4) Why is search_type missing so often?

In [16]:
police.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [61]:
police[police.search_conducted==False].search_conducted.value_counts()

False    88545
Name: search_conducted, dtype: int64

In [49]:
police.search_conducted.count()

91741

In [86]:
police[police.search_conducted==True].search_conducted.value_counts()

True    3196
Name: search_conducted, dtype: int64

In [47]:
#alternative  Ans
#in pivot table , by default it ignores missing value
police.pivot_table(index="search_conducted",aggfunc='count')

#when search conduct = false ,so, there will be no search that's why search type=0

,driver_age,driver_age_raw,driver_gender,driver_race,drugs_related_stop,is_arrested,search_type,stop_date,stop_duration,stop_outcome,stop_time,violation,violation_raw
search_conducted,,,,,,,,,,,,,
False,82927,83218,83210,83212,88545,83212,0,88545,83212,83212,88545,83212,83212
True,3193,3196,3196,3196,3196,3196,3196,3196,3196,3196,3196,3196,3196

## Q5) During a search, how often is the driver frisked?

In [94]:
police[police.search_type.notna()].search_type.value_counts()

Incident to Arrest                                          1219
Probable Cause                                               891
Inventory                                                    220
Reasonable Suspicion                                         197
Protective Frisk                                             161
Incident to Arrest,Inventory                                 129
Incident to Arrest,Probable Cause                            106
Probable Cause,Reasonable Suspicion                           75
Incident to Arrest,Inventory,Probable Cause                   34
Probable Cause,Protective Frisk                               33
Incident to Arrest,Protective Frisk                           33
Inventory,Probable Cause                                      22
Incident to Arrest,Reasonable Suspicion                       13
Protective Frisk,Reasonable Suspicion                         11
Incident to Arrest,Inventory,Protective Frisk                 11
Inventory,Protective Frisk                                    11
Incident to Arrest,Probable Cause,Protective Frisk            10
Incident to Arrest,Probable Cause,Reasonable Suspicion         6
Incident to Arrest,Inventory,Reasonable Suspicion              4
Inventory,Reasonable Suspicion                                 4
Inventory,Probable Cause,Protective Frisk                      2
Inventory,Probable Cause,Reasonable Suspicion                  2
Probable Cause,Protective Frisk,Reasonable Suspicion           1
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Name: search_type, dtype: int64

In [140]:
police[police.search_type==police.search_type.str.endswith("Frisk")].search_type.value_counts() #why ?

Series([], Name: search_type, dtype: int64)

In [291]:
police["fr"]=police.search_type=="Protective Frisk" #it shows only total no. of exact protective frisk .i.e. 161

In [292]:
police["fr"]=police.search_type.str.contains("Protective Frisk") #now it included the all values wherever protective frisk came in picture

In [141]:
#alternative 
#total no. of exact + anywhere protective frisk in search_type 
#ans
police.pivot_table(index="fr",aggfunc="count")

,driver_age,driver_age_raw,driver_gender,driver_race,drugs_related_stop,is_arrested,search_conducted,search_type,stop_date,stop_duration,stop_outcome,stop_time,violation,violation_raw
fr,,,,,,,,,,,,,,
False,2921,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922,2922
True,272,274,274,274,274,274,274,274,274,274,274,274,274,274

## Q6) Which year had the least number of stops?

In [143]:
police.stop_date.value_counts()

2012-01-11    69
2012-02-28    65
2007-05-16    62
2012-01-02    61
2007-01-10    60
              ..
2005-08-18     1
2005-03-23     1
2005-07-28     1
2005-06-06     1
2005-08-28     1
Name: stop_date, Length: 3768, dtype: int64

In [156]:
police[police.stop_duration=='0-15 Min'].value_counts().sum()

953

In [26]:
police["year"]=police.stop_date.str.partition("-").drop(columns=[1,2]) #(partition by - , it will divide the date as year , date , month) + drop will remove the month and date

In [13]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
year                   object
dtype: object

In [14]:
police.year.value_counts()

2012    10970
2006    10639
2007     9476
2014     9228
2008     8752
2015     8599
2011     8126
2013     7924
2009     7908
2010     7561
2005     2558
Name: year, dtype: int64

In [196]:
#2005 (least number of stops) Ans

police.pivot_table(police,index=["year"],aggfunc='count')

,county_name,driver_age,driver_age_raw,driver_gender,driver_race,drugs_related_stop,is_arrested,search_conducted,search_type,stop_date,stop_duration,stop_outcome,stop_time,violation,violation_raw
year,,,,,,,,,,,,,,,
2005,0,2490,2506,2505,2505,2558,2505,2558,128,2558,2505,2505,2558,2505,2505
2006,0,10105,10147,10141,10142,10639,10142,10639,407,10639,10142,10142,10639,10142,10142
2007,0,8889,8906,8905,8905,9476,8905,9476,364,9476,8905,8905,9476,8905,8905
2008,0,8077,8151,8151,8151,8752,8151,8752,294,8752,8151,8151,8752,8151,8151
2009,0,7193,7237,7237,7237,7908,7237,7908,381,7908,7237,7237,7908,7237,7237
2010,0,6952,6995,6995,6995,7561,6995,7561,290,7561,6995,6995,7561,6995,6995
2011,0,7566,7575,7575,7575,8126,7575,8126,276,8126,7575,7575,8126,7575,7575
2012,0,10386,10395,10396,10396,10970,10396,10970,354,10970,10396,10396,10970,10396,10396
2013,0,7411,7421,7421,7421,7924,7421,7924,205,7924,7421,7421,7924,7421,7421
2014,0,8835,8849,8849,8849,9228,8849,9228,264,9228,8849,8849,9228,8849,8849
2015,0,8216,8232,8231,8232,8599,8232,8599,233,8599,8232,8232,8599,8232,8232

## Q7) How does drug activity change by time of day?

In [273]:
police[((police.stop_time>="06:00") & (police.stop_time<="18:00")) & (police.drugs_related_stop==True)] #here the dtype is object , so I'm going to change object to int dtypes

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
315,2005-10-11,13:40,NaN,M,1963.0,42.0,White,Other Traffic Violation,Moving violation,True,Probable Cause,Citation,False,0-15 Min,True
633,2005-10-24,14:10,NaN,M,1979.0,26.0,Black,Registration Violation,Registration/plates,True,Probable Cause,Citation,False,16-30 Min,True
758,2005-10-29,09:50,NaN,M,1965.0,40.0,White,Speeding,Speeding,True,Incident to Arrest,Citation,False,30+ Min,True
975,2005-11-04,13:35,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Reasonable Suspicion",Arrest Driver,True,30+ Min,True
1922,2005-12-04,15:30,NaN,M,1968.0,37.0,White,Speeding,Speeding,True,Probable Cause,Arrest Passenger,True,30+ Min,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2015-12-03,14:48,NaN,M,1991.0,24.0,Hispanic,Other Traffic Violation,Moving violation,True,Inventory,Citation,False,16-30 Min,True
91253,2015-12-06,10:33,NaN,M,1993.0,22.0,Hispanic,Speeding,Speeding,True,Protective Frisk,Citation,False,16-30 Min,True
91284,2015-12-07,14:10,NaN,M,1976.0,39.0,White,Other Traffic Violation,Moving violation,True,Probable Cause,Arrest Passenger,True,30+ Min,True
91672,2015-12-28,11:05,NaN,F,1996.0,19.0,White,APB,Other,True,Incident to Arrest,Citation,False,16-30 Min,True
91700,2015-12-30,08:51,NaN,F,1987.0,28.0,Hispanic,Speeding,Speeding,True,"Probable Cause,Reasonable Suspicion",Citation,False,30+ Min,True

In [205]:
police.stop_time.count()

91741

In [27]:
police["hour"]=police.stop_time.str.partition(":").drop(columns=[1,2]) #selecting only hours from time

In [276]:
police.hour.value_counts()

10    7350
09    6838
11    5877
14    5634
23    5629
00    5221
08    5210
13    4842
15    4832
07    4572
01    4442
16    3844
12    3582
22    3473
20    3340
06    3290
02    2975
17    2900
19    2587
18    2168
21    1499
03    1172
04     254
05     210
Name: hour, dtype: int64

In [277]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
hour                   object
dtype: object

In [6]:
#converting dtype of hour to int

police["hour"]=pd.to_numeric(police["hour"])

In [8]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
year                   object
hour                    int64
dtype: object

In [281]:
police[((police.hour>=6) & (police.hour<=18)) & (police.drugs_related_stop==True)]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour
315,2005-10-11,13:40,NaN,M,1963.0,42.0,White,Other Traffic Violation,Moving violation,True,Probable Cause,Citation,False,0-15 Min,True,13
633,2005-10-24,14:10,NaN,M,1979.0,26.0,Black,Registration Violation,Registration/plates,True,Probable Cause,Citation,False,16-30 Min,True,14
758,2005-10-29,09:50,NaN,M,1965.0,40.0,White,Speeding,Speeding,True,Incident to Arrest,Citation,False,30+ Min,True,9
975,2005-11-04,13:35,NaN,M,1979.0,26.0,White,Other Traffic Violation,Moving violation,True,"Incident to Arrest,Reasonable Suspicion",Arrest Driver,True,30+ Min,True,13
1922,2005-12-04,15:30,NaN,M,1968.0,37.0,White,Speeding,Speeding,True,Probable Cause,Arrest Passenger,True,30+ Min,True,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2015-12-03,14:48,NaN,M,1991.0,24.0,Hispanic,Other Traffic Violation,Moving violation,True,Inventory,Citation,False,16-30 Min,True,14
91253,2015-12-06,10:33,NaN,M,1993.0,22.0,Hispanic,Speeding,Speeding,True,Protective Frisk,Citation,False,16-30 Min,True,10
91284,2015-12-07,14:10,NaN,M,1976.0,39.0,White,Other Traffic Violation,Moving violation,True,Probable Cause,Arrest Passenger,True,30+ Min,True,14
91672,2015-12-28,11:05,NaN,F,1996.0,19.0,White,APB,Other,True,Incident to Arrest,Citation,False,16-30 Min,True,11
91700,2015-12-30,08:51,NaN,F,1987.0,28.0,Hispanic,Speeding,Speeding,True,"Probable Cause,Reasonable Suspicion",Citation,False,30+ Min,True,8

In [288]:
#ans
police[((police.hour>=6) & (police.hour<=18)) & (police.drugs_related_stop==True)].search_conducted.value_counts() #366 stops at day

True    366
Name: search_conducted, dtype: int64

In [249]:
isinstance(police.hour,object)

True

In [ ]:
# also we can do this with isin function without changing any dtype

## Q8) Do most stops occur at night?

In [282]:
police.hour.value_counts()

10    7350
9     6838
11    5877
14    5634
23    5629
0     5221
8     5210
13    4842
15    4832
7     4572
1     4442
16    3844
12    3582
22    3473
20    3340
6     3290
2     2975
17    2900
19    2587
18    2168
21    1499
3     1172
4      254
5      210
Name: hour, dtype: int64

In [286]:
#ans 
police[-(police.hour>=6) & (police.hour<=18)].search_conducted.value_counts() #841 stops at night

False    13433
True       841
Name: search_conducted, dtype: int64

In [290]:
 police[(police.hour>18) & (police.hour<=6)].search_conducted.value_counts()# ?why it is empty

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, hour]
Index: []

## Q9) Find the bad data in the stop_duration column and fix it

In [294]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
hour                      0
fr                    88545
dtype: int64

In [321]:
police.stop_duration.value_counts()

0-15 Min     69543
16-30 Min    13635
30+ Min       3228
2                1
1                1
Name: stop_duration, dtype: int64

In [322]:
#replacing 2 and 1 values to null in stop_duration

police["stop_duration"].replace({"2":np.nan,"1":np.nan}, inplace=True)

In [323]:
police.stop_duration.value_counts()

0-15 Min     69543
16-30 Min    13635
30+ Min       3228
Name: stop_duration, dtype: int64

## Q10) What is the mean stop_duration for each violation_raw?

In [326]:
police.pivot_table(index="violation_raw",columns="stop_duration")

                                 driver_age                        \
stop_duration                      0-15 Min  16-30 Min    30+ Min
violation_raw
APB                               33.527778  39.166667  37.500000
Call for Service                  33.896869  34.701389  33.559105
Equipment/Inspection Violation    31.594630  31.957726  34.890063
Motorist Assist/Courtesy          36.918182  36.537037  34.720000
Other Traffic Violation           35.543467  36.834075  39.554705
Registration Violation            33.049628  32.326276  31.766990
Seatbelt Violation                32.098687  33.554217  30.921053
Special Detail/Directed Patrol    43.438011  44.001783  41.913242
Speeding                          33.616979  33.109974  32.366667
Suspicious Person                 32.129032  34.666667  34.909091
Violation of City/Town Ordinance  35.340278  35.803279  26.500000
Warrant                           35.166667  31.833333  23.666667

                                 driver_age_raw                            \
stop_duration                          0-15 Min    16-30 Min      30+ Min
violation_raw
APB                                 1924.648649  1970.875000  1970.777778
Call for Service                    1963.281536  1962.457471  1957.487342
Equipment/Inspection Violation      1977.997601  1978.034960  1971.278481
Motorist Assist/Courtesy            1840.529412  1807.084746  1975.280000
Other Traffic Violation             1967.360622  1970.574921  1967.202290
Registration Violation              1975.901280  1974.547264  1977.338164
Seatbelt Violation                  1982.031520  1980.389558  1983.052632
Special Detail/Directed Patrol      1927.721948  1799.008157  1958.568182
Speeding                            1972.782757  1975.143400  1976.810000
Suspicious Person                   1917.093750  1977.461538  1975.545455
Violation of City/Town Ordinance    1974.513889  1974.180328  1982.666667
Warrant                             1975.833333  1976.666667  1987.666667

                                 drugs_related_stop                      \
stop_duration                              0-15 Min 16-30 Min   30+ Min
violation_raw
APB                                        0.000000  0.083333  0.111111
Call for Service                           0.001828  0.004598  0.012658
Equipment/Inspection Violation             0.009811  0.054625  0.105485
Motorist Assist/Courtesy                   0.008403  0.016949  0.000000
Other Traffic Violation                    0.008671  0.025397  0.052672
Registration Violation                     0.002478  0.026119  0.077295
Seatbelt Violation                         0.007129  0.072289  0.184211
Special Detail/Directed Patrol             0.000000  0.003263  0.009091
Speeding                                   0.001536  0.014457  0.121667
Suspicious Person                          0.062500  0.076923  0.181818
Violation of City/Town Ordinance           0.000000  0.016393  0.666667
Warrant                                    0.000000  0.000000  0.000000

                                 search_conducted
stop_duration                            0-15 Min 16-30 Min   30+ Min
violation_raw
APB                                      0.027027  0.416667  0.500000
Call for Service                         0.027422  0.085057  0.180380
Equipment/Inspection Violation           0.029761  0.202476  0.322785
Motorist Assist/Courtesy                 0.025210  0.067797  0.280000
Other Traffic Violation                  0.021338  0.128254  0.183206
Registration Violation                   0.024783  0.208955  0.512077
Seatbelt Violation                       0.016135  0.160643  0.342105
Special Detail/Directed Patrol           0.004316  0.014682  0.045455
Speeding                                 0.006998  0.058119  0.453333
Suspicious Person                        0.156250  0.538462  0.818182
Violation of City/Town Ordinance         0.048611  0.065574  0.666667
Warrant                                  0.166667  0.500000  0.333333

## Q13) Pretend you don't have the driver_age column, and create it from driver_age_raw (and call it new_age)

In [331]:
police

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,1,2005
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,8,2005
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23,2005
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,17,2005
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,10,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,20,2015
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,20,2015
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,20,2015
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,21,2015
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,22,2015

In [332]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
hour                    int64
year                   object
dtype: object

In [28]:
#converting year dtype to float from object 

police["year"]= police["year"].astype(float)

In [336]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
hour                    int64
year                  float64
dtype: object

In [343]:
isinstance(police.year,float) #? why its saying false , true for object

False

In [355]:
police

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,1,2005.0
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,8,2005.0
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23,2005.0
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,17,2005.0
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,10,2005.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,20,2015.0
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,20,2015.0
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,20,2015.0
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,21,2015.0
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,22,2015.0

In [345]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5335
drugs_related_stop        0
hour                      0
year                      0
dtype: int64

In [8]:
#let driver age be da

police["da"]= police.year-police.driver_age_raw

In [11]:
police.da

0        20.0
1        40.0
2        33.0
3        19.0
4        21.0
         ...
91736    29.0
91737    33.0
91738    23.0
91739    22.0
91740    56.0
Name: da, Length: 91741, dtype: float64

# Self Analysis

In [11]:
police[police.county_name.isna()] #concludes county_name contains only null values

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [19]:
police["pent"]=(police.year//5)*5
police.pent.value_counts()  #within 5 years cases

2010.0    43809
2005.0    39333
2015.0     8599
Name: pent, dtype: int64

In [12]:
null_value=[features for features in police.columns if police[features].isnull().sum()>1]

for feature in null_value:
    print(feature, np.round(police[feature].isnull().mean(), 2),  ' % missing values')  #percentage of nan values present in each feature

county_name 1.0  % missing values
driver_gender 0.06  % missing values
driver_age_raw 0.06  % missing values
driver_age 0.06  % missing values
driver_race 0.06  % missing values
violation_raw 0.06  % missing values
violation 0.06  % missing values
search_type 0.97  % missing values
stop_outcome 0.06  % missing values
is_arrested 0.06  % missing values
stop_duration 0.06  % missing values
da 0.06  % missing values

In [6]:
police[police.violation=="Speeding"].year.value_counts() #year wise speeding cases

2006.0    7732
2007.0    6789
2008.0    5395
2012.0    4385
2014.0    4003
2009.0    3907
2010.0    3710
2011.0    3679
2015.0    3569
2013.0    3476
2005.0    1818
Name: year, dtype: int64

In [8]:
police.violation.unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [12]:
police[police.violation=="Speeding"].hour.value_counts()  #time wise speeding cases

10    4008
9     3939
11    3182
23    3017
8     2974
14    2707
7     2697
0     2618
13    2300
6     2285
15    2273
1     2180
20    1886
12    1852
16    1792
22    1791
2     1530
19    1437
17    1353
18    1175
21     648
3      636
5      103
4       80
Name: hour, dtype: int64

In [ ]:
Q why hour isinstance is true with object not with int?

In [14]:
#to find age wise rules violation 

police.driver_age.unique() #converting continuous data into categorical data

array([20., 40., 33., 19., 21., 23., 36., 35., 26., 39., 50., 47., 52.,
       38., nan, 41., 28., 46., 32., 58., 27., 43., 24., 17., 22., 44.,
       48., 34., 55., 51., 45., 29., 31., 37., 67., 25., 42., 30., 18.,
       57., 49., 61., 70., 53., 60., 59., 64., 63., 54., 56., 66., 62.,
       69., 81., 68., 76., 75., 74., 82., 65., 72., 16., 77., 73., 71.,
       80., 79., 78., 88., 15., 83., 86., 84., 85., 87., 99., 89., 94.,
       90.])

In [29]:
#convert drivers age into interval like[0-25,25-50,so on]

police["categorical_age"]=pd.cut(police.driver_age,bins=[0,25,50,75,100],labels=["a","b","c","d"])

In [21]:
police

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,hour,categorical_age
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,1,a
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,8,b
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,23,b
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,2005,17,a
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005,10,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,2015,20,b
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,2015,20,b
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,2015,20,a
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2015,21,a
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2015,22,c

In [14]:
#means 25-50 age's people do lots rule violation

police[police.violation.notna()].categorical_age.value_counts() #means 25-50 age's people do lots rule violation

b    46018
a    28882
c    11009
d      206
Name: categorical_age, dtype: int64

In [15]:
#means 25-50 age's people get most arrested and only 4 people's are from the interval of 75-100 gets arrested from 206 cases

police[police.is_arrested==True].categorical_age.value_counts()

b    1744
a     996
c     181
d       4
Name: categorical_age, dtype: int64

In [16]:
police[police.violation.notna()].driver_gender.value_counts()

M    62895
F    23511
Name: driver_gender, dtype: int64

In [28]:
police[police.is_arrested==True].driver_gender.value_counts() #gender wise arrest

M    2333
F     596
Name: driver_gender, dtype: int64

In [17]:
#now going to calculate like 20th century people do more rule violations or 21st century people
#but driver_age_raw conatins untidy data like nan, 0, 2919, 8801,1887
police.driver_age_raw.unique()

array([1985., 1965., 1972., 1986., 1984., 1982., 1969., 1970., 1979.,
       1966., 1955., 1958., 1953., 1967.,   nan, 1964., 1977., 1959.,
       1973., 1947., 1978., 1962., 1981., 1988., 1983., 1961., 1957.,
       1971., 1950., 1954., 1960., 1976., 1974., 1968., 1938., 1980.,
       1963., 1975., 1987., 1948., 1956., 1944., 1935.,    0., 1952.,
       1945., 1946., 1941., 1942., 1951., 1949., 2005., 1939., 1943.,
       1936., 1924., 1937., 1929., 1930., 1931., 1923., 1940., 1933.,
       1989., 1928., 1932., 1990., 1926., 2006., 1927., 1997., 1934.,
       1887., 1925., 1918., 2004., 1991., 2002., 2007., 1992., 8801.,
       2001., 2003., 1998., 1922., 1993., 2008., 2009., 2919., 2000.,
       1994., 1995., 2011., 1996., 2013., 1914., 1920., 1999.])

In [32]:
#clean the untidy data 

police[police.driver_age_raw==8801]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,hour,categorical_age
17964,2007-06-17,09:55,NaN,M,8801.0,NaN,White,Speeding,Speeding,False,NaN,Citation,False,16-30 Min,False,2007,9,NaN

In [18]:
#checking the null vallues in both columns (driver_age_raw, driver_age)

police[(police.driver_age.isna()) & (police.driver_age_raw.isna())] #checking the null vallues in both columns (driver_age_raw, driver_age)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,hour,da,categorical_age
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2005.0,16,NaN,NaN
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2005.0,1,NaN,NaN
52,2005-10-01,13:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2005.0,13,NaN,NaN
110,2005-10-03,19:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2005.0,19,NaN,NaN
124,2005-10-04,11:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2005.0,11,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91637,2015-12-27,09:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2015.0,9,NaN,NaN
91660,2015-12-28,02:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2015.0,2,NaN,NaN
91674,2015-12-28,12:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2015.0,12,NaN,NaN
91710,2015-12-30,13:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2015.0,13,NaN,NaN
91713,2015-12-30,17:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,2015.0,17,NaN,NaN

In [10]:
police.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
year                      0
hour                      0
da                     5327
categorical_age        5621
dtype: int64

In [38]:
#checking the null vallues in both columns (driver_age_raw, driver_age) , like if we have driver_age values but driver_age_raw values don't , 
#we can conclude it using stoptime and driver_age,  (it is for where the age_raw is 0)

police[(police.driver_age.notna()) & (police.driver_age_raw.isna())]

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, year, hour, categorical_age]
Index: []

In [41]:
police[(police.driver_age_raw==0) & (police.driver_age.notna())]

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, year, hour, categorical_age]
Index: []

In [42]:
police[(police.driver_age_raw==0)]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,hour,categorical_age
146,2005-10-05,08:50,NaN,M,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,2005,8,NaN
281,2005-10-10,12:05,NaN,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,2005,12,NaN
331,2005-10-12,07:50,NaN,M,0.0,NaN,White,Motorist Assist/Courtesy,Other,False,NaN,No Action,False,0-15 Min,False,2005,7,NaN
455,2005-10-18,18:30,NaN,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,2005,18,NaN
748,2005-10-29,07:00,NaN,M,0.0,NaN,Black,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,2005,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89375,2015-09-21,17:07,NaN,M,0.0,NaN,Black,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,2015,17,NaN
90330,2015-10-28,08:26,NaN,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,2015,8,NaN
90767,2015-11-13,08:18,NaN,M,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,2015,8,NaN
91378,2015-12-12,11:32,NaN,M,0.0,NaN,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2015,11,NaN
91553,2015-12-21,06:57,NaN,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,2015,6,NaN

In [ ]:
#relation

# so when we driver_age_raw is null or 0  ,so, driver_age is also null

In [39]:
police[(police.driver_age_raw==0) & (police.driver_age.notna())]

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, year, hour, categorical_age]
Index: []

In [64]:
#means for incorrect age_raw , we also have null values

police[(police.driver_age_raw==8801) & (police.driver_age.notna())] #means for incorrect age_raw , we also have null values

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, hour, year, categorical_age]
Index: []

In [45]:
police[(police.driver_age_raw==2919) & (police.driver_age.notna())]

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, year, hour, categorical_age]
Index: []

In [46]:
police[(police.driver_age_raw==1887) & (police.driver_age.notna())]

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, year, hour, categorical_age]
Index: []

In [65]:
police[(police.driver_age_raw==2005) & (police.driver_age.notna())] # like at 2005 ,2009 we too have null values

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, hour, year, categorical_age]
Index: []

In [21]:
police.dropna(inplace=True) #don't do this , it will remove all dataset

In [22]:
police.isna().sum()

stop_date             0.0
stop_time             0.0
county_name           0.0
driver_gender         0.0
driver_age_raw        0.0
driver_age            0.0
driver_race           0.0
violation_raw         0.0
violation             0.0
search_conducted      0.0
search_type           0.0
stop_outcome          0.0
is_arrested           0.0
stop_duration         0.0
drugs_related_stop    0.0
year                  0.0
hour                  0.0
da                    0.0
categorical_age       0.0
dtype: float64

In [75]:
police.driver_age_raw.dropna(inplace=True) #it works or not ?

In [51]:
police[police.driver_age_raw.isna()] #? here it shows null values

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year,categorical_age
25,2005-09-03,16:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,16,2005.0,NaN
29,2005-09-26,01:05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,01,2005.0,NaN
52,2005-10-01,13:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,13,2005.0,NaN
110,2005-10-03,19:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,19,2005.0,NaN
124,2005-10-04,11:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,11,2005.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91637,2015-12-27,09:41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,09,2015.0,NaN
91660,2015-12-28,02:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,02,2015.0,NaN
91674,2015-12-28,12:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,12,2015.0,NaN
91710,2015-12-30,13:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,13,2015.0,NaN
91713,2015-12-30,17:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,17,2015.0,NaN

In [52]:
police[police.driver_age_raw.isna()].count() # ? why here is 0

stop_date             5327
stop_time             5327
county_name              0
driver_gender            1
driver_age_raw           0
driver_age               0
driver_race              1
violation_raw            1
violation                1
search_conducted      5327
search_type              0
stop_outcome             1
is_arrested              1
stop_duration            1
drugs_related_stop    5327
hour                  5327
year                  5327
categorical_age          0
dtype: int64

In [56]:
police[police.driver_age_raw.isna()].count() # ? why here is 0

stop_date             5327
stop_time             5327
county_name              0
driver_gender            1
driver_age_raw           0
driver_age               0
driver_race              1
violation_raw            1
violation                1
search_conducted      5327
search_type              0
stop_outcome             1
is_arrested              1
stop_duration            1
drugs_related_stop    5327
hour                  5327
year                  5327
categorical_age          0
dtype: int64

In [49]:
police.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
hour                      0
year                      0
categorical_age        5621
dtype: int64

In [60]:
police.dropna(axis=1)

        stop_date stop_time  search_conducted  drugs_related_stop hour    year
0      2005-01-02     01:55             False               False   01  2005.0
1      2005-01-18     08:15             False               False   08  2005.0
2      2005-01-23     23:15             False               False   23  2005.0
3      2005-02-20     17:15             False               False   17  2005.0
4      2005-03-14     10:00             False               False   10  2005.0
...           ...       ...               ...                 ...  ...     ...
91736  2015-12-31     20:27             False               False   20  2015.0
91737  2015-12-31     20:35             False               False   20  2015.0
91738  2015-12-31     20:45             False               False   20  2015.0
91739  2015-12-31     21:42             False               False   21  2015.0
91740  2015-12-31     22:46             False               False   22  2015.0

[91741 rows x 6 columns]

In [61]:
police

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year,categorical_age
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,01,2005.0,a
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,08,2005.0,b
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23,2005.0,b
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,17,2005.0,a
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,10,2005.0,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,20,2015.0,b
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,20,2015.0,b
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,20,2015.0,a
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,21,2015.0,a
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,22,2015.0,c

In [63]:
np.isnat? means not a time

In [68]:
police[(police.driver_age_raw==2005) & (police.driver_age.notna()) & (police.violation.notna())] # like at 2005 ,2009 we too have null values

Empty DataFrame
Columns: [stop_date, stop_time, county_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, hour, year, categorical_age]
Index: []

In [69]:
police[(police.driver_age_raw==2005) & (police.violation.notna()) ]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year,categorical_age
414,2005-10-17,08:32,NaN,M,2005.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,08,2005.0,NaN
18149,2007-06-24,09:37,NaN,M,2005.0,NaN,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,09,2007.0,NaN
24045,2008-02-24,22:51,NaN,M,2005.0,NaN,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,16-30 Min,False,22,2008.0,NaN

In [70]:
police[(police.driver_age_raw==1887)] #119 years old (speeding violation)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year,categorical_age
7397,2006-06-12,23:55,NaN,F,1887.0,NaN,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23,2006.0,NaN

In [72]:
police[(police.driver_age.isna()) & (police.driver_age_raw.notna())]

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour,year,categorical_age
146,2005-10-05,08:50,NaN,M,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,08,2005.0,NaN
281,2005-10-10,12:05,NaN,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,12,2005.0,NaN
331,2005-10-12,07:50,NaN,M,0.0,NaN,White,Motorist Assist/Courtesy,Other,False,NaN,No Action,False,0-15 Min,False,07,2005.0,NaN
414,2005-10-17,08:32,NaN,M,2005.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,08,2005.0,NaN
455,2005-10-18,18:30,NaN,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,18,2005.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89375,2015-09-21,17:07,NaN,M,0.0,NaN,Black,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,17,2015.0,NaN
90330,2015-10-28,08:26,NaN,F,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False,08,2015.0,NaN
90767,2015-11-13,08:18,NaN,M,0.0,NaN,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,08,2015.0,NaN
91378,2015-12-12,11:32,NaN,M,0.0,NaN,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,11,2015.0,NaN
91553,2015-12-21,06:57,NaN,F,0.0,NaN,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False,06,2015.0,NaN

In [73]:
2006-1887

119